{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>RetroPlay</title>
  </head>
  <body>
    <!-- menu principal -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container" style="margin-bottom: -2rem;">
          <a class="navbar-brand" href="{% url 'index' %}">
              <img src="{% static 'assets/imgs/logo.png' %}" alt="logo" height="40">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'categorias' %}">Categorías</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'productos' %}">Productos</a></li>

          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'perfil' %}">Perfil</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registro</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
              <div class="icon-cart ms-3">
                  <i class="ri-shopping-cart-line"></i>
                  <span class="cart-item-count"></span>
              </div>
          </div>
      </div>
  </nav>

    <div class="cart">
      <h2 class="cart-title">Carrito</h2>
      <div class="cart-content">
        <!-- <div class="cart-box">
          <img src="../assets/imgs/Adventure_Atari.png" class="cart-img">
          <div class="cart-detail">
            <h2 class="cart-product-title">Adventure</h2>
            <span class="cart-price">$24.990</span>
            <div class="cart-quantity">
              <button id="decrement">-</button>
              <span class="number">1</span>
              <button id="increment">+</button>
            </div>
          </div>
          <i class="ri-delete-bin-6-fill cart-remove"></i>
        </div> -->
      </div>
      <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">$0</div>
      </div>
      <button class="btn-buy">Comprar</button>
      <i class="ri-close-circle-fill" id="cart-close"></i>
    </div>

    <div class="category-router">
     <a href="{% url 'categoria_atari' %}">Atari</a> / Adventurer
    </div>
    <main>
      <div class="container-2">
        <div class="cont-img">
          <img src="{% static 'assets/imgs/Adventure_Atari.png' %}" class="cont-img" />
        </div>
      </div>
      <div class="container-3">
        <div class="box">
          <img src="{% static 'assets/imgs/atari.png' %}" class="cont-img" />
        </div>
        <div class="box-2">
          <h1 class="title-text">Adventurer</h1>
          <p class="text-box-2">
            En Adventure, los jugadores exploran un vasto reino en busca del
            cáliz encantado robado por un malvado mago. A través de laberintos
            llenos de peligros, deben enfrentar dragones feroces, abrir puertas
            con llaves ocultas y usar la icónica espada para defenderse. Con un
            mundo interconectado y mecánicas innovadoras, Adventure es
            considerado uno de los primeros videojuegos de acción y exploración,
            pionero del género de aventuras. Su diseño abierto y la introducción
            del primer "huevo de Pascua" en los videojuegos lo convirtieron en
            un clásico atemporal.
          </p>
          <div class="ul-container">
            <div class="column">
              <ul class="list">
                <li>Maze (Laberintos desafiantes)</li>
                <li>Key (Llaves para abrir áreas)</li>
                <li>Egg (Primer Easter Egg en videojuegos)</li>
              </ul>
            </div>
            <div class="column">
              <ul class="list">
                <li>Drag (Dragones enemigos)</li>
                <li>Swrd (Espada para defenderse)</li>
                <li>Cave (Exploración en cuevas)</li>
              </ul>
            </div>
            <div style="color: aliceblue; min-width: 14rem;" >
              <h2>Precio: $24.990</h2>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="container-4">
          <div class="text-buy__wrapper">
            <p class="text-buy">Comprar</p>
          </div>
        </div>
      </div>
    </main>
    <!-- Fin contenedor de las categorias -->
    <!-- inicio footer -->
    <footer>
      <p>RetroPlay 2025</p>
    </footer>
    <!-- fin footer -->
    <script src="{% static 'assets/js/cart.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
