{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>RetroPlay</title>
  </head>
  <body>
    <!-- menu principal -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container" style="margin-bottom: -2rem;">
          <a class="navbar-brand" href="{% url 'index' %}">
              <img src="{% static 'assets/imgs/logo.png' %}" alt="logo" height="40">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'categorias' %}">Categorías</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'productos' %}">Productos</a></li>

          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'perfil' %}">Perfil</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registro</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
              <div class="icon-cart ms-3">
                  <i class="ri-shopping-cart-line"></i>
                  <span class="cart-item-count"></span>
              </div>
          </div>
      </div>
  </nav>
  
      <div class="cart">
        <h2 class="cart-title">Carrito</h2>
        <div class="cart-content">
          <!-- <div class="cart-box">
            <img src="../assets/imgs/Adventure_Atari.png" class="cart-img">
            <div class="cart-detail">
              <h2 class="cart-product-title">Adventure</h2>
              <span class="cart-price">$24.990</span>
              <div class="cart-quantity">
                <button id="decrement">-</button>
                <span class="number">1</span>
                <button id="increment">+</button>
              </div>
            </div>
            <i class="ri-delete-bin-6-fill cart-remove"></i>
          </div> -->
        </div>
        <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">$0</div>
        </div>
        <button class="btn-buy">Comprar</button>
        <i class="ri-close-circle-fill" id="cart-close"></i>
      </div>

    <div class="category-router">
      <a href="{% url 'categoria_nintendo' %}">Nintendo</a> / Pokemon Stadium
     </div>
    <main>
      <div class="container-2">
        <div class="cont-img">
          <img src="{% static 'assets/imgs/Pokémon_Stadium.png' %}" class="cont-img">
        </div>
      </div>
      <div class="container-3">
        <div class="box">
          <img src="{% static 'assets/imgs/nintendo.svg.png' %}" class="cont-img">
        </div>
        <div class="box-2">
          <h1 class="title-text">Pokemon Stadium</h1>
          <p class="text-box-2">En Pokémon Stadium, los entrenadores pueden llevar sus batallas al siguiente nivel en impresionantes combates en 3D. Con una amplia selección de Pokémon de las versiones Red, Blue y Yellow, el juego permite a los jugadores enfrentarse en torneos desafiantes, duelos personalizados y el icónico Gym Leader Castle. Además, cuenta con una serie de minijuegos divertidos en el Kids Club, ideales para competir con amigos. Gracias a su compatibilidad con el Transfer Pak, es posible importar Pokémon desde los juegos de Game Boy, haciendo de Pokémon Stadium la mejor experiencia de combate Pokémon en la Nintendo 64.</p>
          <div class="ul-container">
            <div class="column">
            <ul class="list">
            <li>3D (Batallas con modelos 3D)</li>
            <li>Gym (Enfrentamientos contra líderes de gimnasio)</li>
            <li>Rent (Pokémon rentados disponibles)</li>
          </ul>
          </div>
          <div class="column">
          <ul class="list">
              <li>Pack (Compatible con Transfer Pak)</li>
              <li>Mini (Modo de minijuegos en el Kids Club)</li>
              <li>Duel (Combates 1 vs 1 estratégicos)</li>
            </ul>
          </div> 
          <div style="text-align: end; color: aliceblue;min-width: 14rem;">
            <h2>Precio: $30.990</h2>
          </div>  
          </div>
        </div>
    </div>
    <div class="container-4">
      <div class="text-buy__wrapper">
        <p class="text-buy">Comprar</p>
      </div>
    </div>   
    </main>
    <!-- inicio footer -->
    <footer>
      <p>RetroPlay 2025</p>
    </footer>
    <!-- fin footer -->
    <script src="{% static 'assets/js/cart.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>